[submodule "assets/depth_anything_v2"]
	path = assets/depth_anything_v2
	url = https://github.com/DepthAnything/Depth-Anything-V2
[submodule "assets/stablehlo_coreml"]
	path = assets/stablehlo_coreml
	url = git@github.com:kentslaney/stablehlo-coreml.git
[submodule "assets/coremltools"]
	path = assets/coremltools
	url = git@github.com:kentslaney/coremltools
