numpy
matplotlib
pillow
pillow_heif
coremltools
scipy
armpit
sympy
opencv-python
torch
torchvision
jupyterlab-vim
tensorflow_datasets
tensorflow[and-cuda]
jax[cuda13]
transformers
-e ./assets/stablehlo_coreml
