numpy
matplotlib
pillow
pillow_heif
-e ./assets/coremltools
opencv-python
torch
torchvision
transformers
# jax[cuda13]
jax
-e ./assets/stablehlo_coreml
tqdm
# development tools
armpit
scipy
sympy
tabulate
